<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="shortcut icon" href="#">
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>        
		<form class="form-inline">	<!-- 새로운 ToDo 항목 추가 -->
			<div class="form-group">
				<input type="text" class="form-control" id="ip" placeholder="IP">
			</div>&nbsp;
			<button type="button" class="btn btn-primary" id="connect">connect</button>&nbsp;
			<button type="button" class="btn btn-danger" id="disconnect">disconnect</button>&nbsp;
			<button type="button" class="btn btn-dark" id="disconnectAll">disconnectAll</button>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>ip</th>
					<th>정보</th>
					<th>screenshot</th>
					<th>log</th>
					<th>상태</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		
        <div class="dir">
			파일저장 위치 <button type="button" class="btn btn-dark" id="dirSave">SAVE</button>
			<input type="text" class="form-control none" id="dir" placeholder="C:/Users/User/Desktop">
			<!-- <input type="file" name="" id="dir" webkitdirectory> -->
		</div>
	</body>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="/js/adb.js"></script>	<!-- ToDo 기능 구현 내용 -->
</html>