body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.form-inline {
  padding-bottom: 15px;
}

.complete {
  text-decoration: line-through;
  color: gray;
}

.table {
  float: right;
}

.dir button {
  margin:1px ;
}

.dir .none {
  border: 1px solid red;
}